<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.xyz.automation.fb.HandleKeyboardMouse2"/>
      <class name="org.xyz.automation.fb.WaitWebDriver"/>
      <class name="org.xyz.automation.fb.FetchDataRunTime"/>
      <class name="org.wipro.automation.uo.testcases.LoginScenario"/>
      <class name="learnTestNG.TestScenario10"/>
      <class name="org.xyz.automation.fb.MoreFieldsMethod"/>
      <class name="org.xyz.automation.fb.HandleKeyboardMouse"/>
      <class name="learnTestNG.TestScenario9"/>
      <class name="org.xyz.automation.fb.BrowserControl"/>
      <class name="learnTestNG.TestScenario8"/>
      <class name="org.wipro.automation.uo.testcases.SignupScenario"/>
      <class name="learnTestNG.TestScenario7"/>
      <class name="learnTestNG.TestScenario2"/>
      <class name="learnTestNG.TestScenario1"/>
      <class name="learnTestNG.TestScenario6"/>
      <class name="org.xyz.automation.fb.FirstAutomation"/>
      <class name="learnTestNG.TestScenario5"/>
      <class name="learnTestNG.TestScenario4"/>
      <class name="learnTestNG.TestScenario3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
